/* body{
  background-color: #e9ecef;
} */


.slick-prev:before {
    color: rgb(0, 0, 0) !important;
    background-color: #eee;
  }
  .slick-next:before {
    color: rgb(0, 0, 0) !important;
    background-color: #eee;
  }

  .slick-slide {
    height:350px;
 }
 
 .slick-slide img {
    height:350px;
 }

 .morph div img {
  width: 280px;
  height: 180px;
  background-color: rgb(245, 244, 244);
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.morph div:hover img {
  width: 280px; /* on affiche l'image au carré */
  height: 180px;
  border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}
