<form method="post" action="{{ path('employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Attention !! cet utilisateur sera définitivement supprimé?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <br>
    <button class="btn btn-danger">Supprimer compte</button>
</form>
